<% provide(:title, @user.name) %>

<div class="card mt-2 profile-card">
    <div class="card-body text-align-center">
        <%= user_avatar(@user, "profile-pic") %>
        <h5 class="card-title mt-3">
            <%= @user.name %>
        </h5>
        <%= link_to 'Admin Page', admin_home_path, class: "btn btn-info" if logged_in? && current_user.isAdmin && current_user == @user%>
        <p class="card-text mt-2"><%= @user.email %></p>
        <%= render 'users/follow_form' if logged_in? %>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="card-text d-flex justify-content-center">
                <strong id="followers"><%= @user.followers.count %></strong>&nbsp;Followers&nbsp;|&nbsp; 
                <strong><%= @user.followed_users.count %></strong>&nbsp;Following
            </div>
        </li>
    </ul>

    <% if @user.id == current_user.id %>
        <div class="row mt-2">
            <div class="col-12 d-flex justify-content-center">
                <strong><%= link_to words_learned(current_user), words_path %></strong><br>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <p>Words Learned</p>
            </div>
        </div> 
    <% end %>
</div>