<% provide(:title, "Users") %>

<div class="jumbotron mt-2">
    <h3 class='text-center usersheader'>List of Users</h3>
    <div class='d-flex justify-content-center'>
        <%= will_paginate @users %>
    </div>

    <ul class="userlist">
        <div class="row">
            <% @users.each do |user| %>
                <div class="col-lg-4 col-sm-12 d-flex justify-content-center">
                    <li class="user">
                        <div class="row">
                            <div class="col-2 d-flex justify-content-center">
                                <%= link_to user_avatar(user, "dp"), user_path(user.id) %>
                            </div>
                            <div class="col-8 user-name d-flex justify-content-left">
                                <h5><%= user.name %></h5>
                            </div>
                            <div class="col-2 vertical-align-center d-flex justify-content-center">
                            <% if !user.isAdmin %>
                                <%= button_to "Add", admin_user_path(user), method: :patch, class: "btn btn-info" %>
                            <% end %>
                            </div>
                        </div>
                    </li>
                </div>
            <% end %>
        </div>
    </ul>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <%= link_to "Back to Admin Dashboard", admin_home_path, class: "btn btn-warning" %>
        </div>
    </div>
</div>